@font-face {
  font-family: "Sixtyfour";
  src:
    url("/sixtyfour.woff2") format("woff2"),
    url("/sixtyfour.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "VT323";
  src:
    url("/VT323.woff2") format("woff2"),
    url("/VT323.woff") format("woff");
  font-style: normal;
  font-display: block;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button:focus {
  outline: 2px solid white;
}

#root > * {
  height: 100%;
}

h1 {
  color: white;
  font-family: "Sixtyfour", monospace;
  font-size: 4.2rem;
  margin: 0 0 56px 0;
  padding: 0;
  font-weight: 400;
}

button {
  background: transparent;
  border: 0;
}

.interface-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}

.interface-container {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.extralives-container {
  display: flex;
  height: 64px;
  gap: 24px;
}

.extralife-image {
  width: 80px;
  height: 80px;
}

.level-score-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 40px;
}

.level-container,
.score-container {
  color: white;
  font-family: "Sixtyfour", monospace;
  display: flex;
  gap: 16px;
}

.level-container {
  font-size: 1.6rem;
}

.score-container {
  font-size: 2.4rem;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.instructions-container {
  display: flex;
  gap: 24px;
}

.instructions-bird {
  width: 80px;
  height: auto;
}

.instructions-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.up-left {
  transform: rotate(-10deg);
}

.up-right {
  transform: rotate(100deg);
}

.down-left {
  transform: rotate(-80deg);
}

.down-right {
  transform: rotate(170deg);
}

.restart-text-wrapper {
  color: white;
  font-family: "VT323", monospace;
  font-size: 2.4rem;
  display: flex;
}

.instruction-wrapper {
  color: white;
  font-family: "VT323", monospace;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  gap: 16px;
}

.restart-button {
  padding: 0 64px;
  height: 48px;
  border: 2px solid white;
  border-radius: 4px;
  background: black;
  font-family: "VT323", monospace;
  font-size: 1.6rem;
  color: white;
}

.arrow-image-wrapper {
  width: 48px;
  height: 48px;
  border: 2px solid white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-image {
  width: 40px;
  height: 40px;
}

.level-won-container {
  z-index: 1001;
}

.game-over-container {
  z-index: 1002;
}

.game-over-container,
.level-won-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
}

.game-over-container {
  flex-direction: column;
  gap: 32px;
}

.game-over-text-wrapper,
.level-won-text-wrapper {
  color: white;
  font-family: "Sixtyfour", monospace;
  font-size: 3.6rem;
}

.mobile-interface,
.extralives-container-mobile,
.restart-button {
  display: none;
}

.instruction-wrapper {
  pointer-events: auto;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.4rem;
    margin: 0;
  }

  .restart-button {
    display: block;
    pointer-events: auto;
  }

  .restart-text-wrapper {
    display: none;
  }

  .score-container {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .score-value-mobile {
    font-size: 1.6rem;
  }

  .mobile-interface-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 16px;
  }

  .mobile-interface-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .level-container {
    font-size: 1rem;
  }

  .extralives-container-mobile {
    position: absolute;
    top: 112px;
    right: 24px;
    width: 48px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 6px;
  }

  .extralife-image {
    width: 48px;
    height: 48px;
  }

  .desktop {
    display: none !important;
  }

  .mobile-interface {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    box-sizing: border-box;
  }

  .mobile-buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .bottom {
    align-items: flex-end;
  }

  .game-over-text-wrapper,
  .level-won-text-wrapper {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .mobile-interface-top {
    flex-direction: row;
    gap: 24px;
  }

  .extralives-container-mobile {
    top: 24px;
    width: 156px;
    justify-content: flex-end;
    flex-direction: row;
  }

  .score-container {
    flex-direction: row;
  }

  .mobile-interface-bottom {
    align-items: flex-end;
  }
}
